{% extends 'base.html'  %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">


<div class="dashboard-container">
    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <div class="top">
        <nav>
            <a href="{{ url_for('dashboard_bp.dashboard') }}" class="active">🏠 Dashboard</a>
            <a href="{{ url_for('mentor_bp.mentors_page') }}">👩‍🏫 Mentor Connect</a>
            <a href="{{ url_for('community_bp.community_page') }}">📋To-Do</a>
            <a href="{{ url_for('learn_bp.learn_skill') }}">🎓 Learn Skills</a>
            <a href="{{ url_for('health_bp.health_tracker') }}">❤ Health Tracker</a>
            <a href="{{ url_for('ai_bp.ai_chat') }}">🤖 AI Assistant</a>
            <!--a href="{{ url_for('todo_bp.todo_list') }}">📋To-Do list</a-->
        </nav>
        </div>
    </div>
    
    <div class="container">
        <div class="buttons">
            <a href="{{ url_for('learn_bp.learn_skill', cat_id=category.id) }}" style="background:#888;">Back</a>
        </div>
        <h1>{{ category.name }} Courses</h1>
        {% for c in courses %}
        <div class="category-card">
            <div class="course-title">{{ c.title }}</div>
            <div class="course-desc">{{ c.description }}</div>
            <div class="links">
                <a href="{{ 'HTTPS://' + c.video_url if not c.video_url.startswith('http') else c.video_link}}">
                    🎥 Watch {{c.video_url}}
                </a>
                <div class="buttons">
                 <a href="{{ c.notes_link }}" class="text-white" target="_blank">View Course</a>                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
