{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

<div class="dashboard-container">
   <!-- LEFT SIDEBAR -->
  <div class="sidebar">
    <div class="top">
      <nav>
        <a href="{{ url_for('dashboard_bp.dashboard') }}" class="active">🏠 Dashboard</a>
        <a href="{{ url_for('mentor_bp.mentors_page') }}">👩‍🏫 Mentor Connect</a>
        <a href="{{ url_for('community_bp.community_page') }}">💬 Community</a>
        <a href="{{ url_for('learn_bp.learn_skill') }}">🎓 Learn Skills</a>
        <a href="{{ url_for('health_bp.health_tracker') }}">❤ Health Tracker</a>
        <a href="{{ url_for('ai_bp.ai_chat') }}">🤖 AI Assistant</a>
        <a href="{{ url_for('todo_bp.todo_list') }}">📋To-Do list</a>
      </nav>
    </div>
  </div>

  <div class="tracker-card">
    <h2>Menstrual Health Tracker 🩸</h2>
    <p class="subtitle">Track your cycle, symptoms, and patterns with ease.</p>

    <form action="{{ url_for('health_bp.health_tracker') }}" method="POST" class="tracker-form">
      <label>Age:</label>
      <input type="date" name="start_date" required>
      
      <label>Cycle start Date:</label>
      <input type="date" name="start_date" required>

      <label>Flow Days:</label>
      <input type="number" name="flow days" placeholder="e.g. 28" required>

      <label>Mood / symptoms:</label>
      <input type="text" name="mood" placeholder="e.g. normal, tired, sick" required>

      <label>Notes:</label>
      <textarea name="notes"></textarea>

      <button type="submit">Save Cycle</button>
    </form>

    <div class="next-period">
      <h3>Your Recent Cycle logs:</h3>
      {% if record %}
        <table border="1" cellingpadding="8">
          <tr>
            <th>Date logged</th>
            <th>Cycle Start</th>
            <th>Flow Days</th>
            <th>Mood/Symptoms</th>
            <th>Health message</th>
          </tr>
          {% for record in records %}
          <tr>
            <td>{{ record.created_at.strftimr('%Y-%m-%d') }}</td>
            <td>{{ record.cycle_start_date }}</td>
            <td>{{ record.flow_days }}</td>
            <td>{{ record.moods }}</td>
            <td>{{ record.next_period_date }}</td>
            <td>{{ record.health_message }}</td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
      <p>No records yet. Submit your first cycle data above.</p>
      {% endif %}
    </div>
  </div>

</div>
{% endblock %}