{% extends 'base.html'  %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">


<div class="dashboard-container">
    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <div class="top">
        <nav>
            <a href="{{ url_for('dashboard_bp.dashboard') }}" class="active">🏠 Dashboard</a>
            <a href="{{ url_for('mentor_bp.mentors_page') }}">👩‍🏫 Mentor Connect</a>
            <a href="{{ url_for('community_bp.community_page') }}">💬 Community</a>
            <a href="{{ url_for('learn_bp.learn_skill') }}">🎓 Learn Skills</a>
            <a href="{{ url_for('health_bp.health_tracker') }}">❤ Health Tracker</a>
            <a href="{{ url_for('ai_bp.ai_chat') }}">🤖 AI Assistant</a>
        </nav>
        </div>
    </div>
</div>    

{% endblock %}
