{% extends 'base.html'  %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">


<div class="dashboard-container">
    <!-- LEFT SIDEBAR -->
    <div class="sidebar">
        <div class="top">
        <nav>
            <a href="{{ url_for('dashboard_bp.dashboard') }}" class="active">🏠 Dashboard</a>
            <a href="{{ url_for('mentor_bp.mentors_page') }}">👩‍🏫 Mentor Connect</a>
            <a href="{{ url_for('community_bp.community_page') }}">💬 Community</a>
            <a href="{{ url_for('learn_bp.learn_skill') }}">🎓 Learn Skills</a>
            <a href="{{ url_for('health_bp.health_tracker') }}">❤ Health Tracker</a>
            <a href="{{ url_for('ai_bp.ai_chat') }}">🤖 AI Assistant</a>
            <a href="{{ url_for('todo_bp.todo_list') }}">📋To-Do list</a>
        </nav>
        </div>
    </div>
    
    <div class="container">
        <h1>Learn a Skill</h1>
        {% for cat in categories %}
        
        <div class="category-card">
            <h5>{{ cat.name }}</h5>
            <p>{{ cat.description }}</p>
            <div class="buttons">
                <a href="{{ url_for('learn_bp.category_courses', cat_id=cat.id) }}" class="text-white">View</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
