{% extends "base.html" %}
{% block content %}

<div class="container2">
  <div class="row2">
    <div class="col-md-6 mx-auto">
      <h3>Create an Account</h3>
      <div class="bubble-container">
        <!-- Multiple bubbles -->
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
      <form method="post" class="p-4 border rounded" autocomplete="off">
        <div class="register">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label custom-label1">First name</label>
              <input name="first_name" class="form-control custom-input1" required>
            </div>
            <div class="col-md-6 mb-3 custom-input-group">
              <label class="form-label custom-label1">Last name</label>
              <input name="last_name" class="form-control custom-input1" required>
            </div>
          </div>
  
          <div class="mb-3 custom-input-group">
            <label class="form-label custom-label">Email</label>
            <input name="email" type="email" class="form-control custom-input" required>
          </div>
  
          <div class="mb-3 custom-input-group">
            <label class="form-label custom-label">Date Of Birth</label>
            <input name="dob" type="date" class="form-control custom-input" required>
          </div>
  
          <div class="mb-3 custom-input-group">
            <label class="form-label custom-label">Password</label>
            <input name="password" type="password" class="form-control custom-input" required>
          </div>
  
          <div class="mb-3 custom-input-group">
            <label class="form-label custom-label">Confirm Password</label>
            <input name="confirm password" type="password" class="form-control custom-input" required>
          </div>
  
          <div class="btn">
            <button class="btn me-2 nav-btn1">Register</button>
            <a class="btn me-2 nav-btn2" href="{{ url_for('auth_bp.login')}}">Already Have an account</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{%endblock%}