:root {
  --bg: #ffffff;
  --text: #111;
  --card-bg: #f5f6fa;
  --header-bg: #ffffff;
  --accent: #ff4f87;
  --border: #ddd;
}

body.dark {
  --bg: #18191a;
  --text: #e4e6eb;
  --card-bg: #242526;
  --header-bg: #242526;
  --accent: #ff4f87;
  --border: #585757;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  flex-wrap: wrap;
  background-color: var(--bg);
  border-bottom: 1px solid var(--border);
  color: var(--text);
  top: 0;
  z-index: 10;
}

.mobile-header,
.mobile-nav {
  display: none;
}

.search-box {
  position: relative;
  width: 500px;
  margin-right: 50px;
}

.search-box .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: #585757;
  /* purple */
  pointer-events: none;
  /* So you can click the input */
}

.search-box input {
  background-color: rgb(0, 0, 0, 0.05);
  /* light gray background */
  width: 100%;
  padding: 10px 10px 10px 35px;
  /* extra left padding for icon */
  border: 1px solid gray;
  /* pink border */
  border-radius: 25px;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.search-box input:focus {
  border-color: var(--accent);
  /* purple focus border */
  box-shadow: 0 0 5px var(--accent);
}

/*end custom-header*/


/* DASHBOARD GRID */
.dashboard-container {
  display: grid;
  grid-template-columns: 250px 1fr auto;
  height: 100vh;
}

.container h2{
  text-align: center;
  color: var(--accent);
  margin-bottom: 30px;
}

/* LEFT SIDEBAR */
.sidebar {
  background: var(--bg);
  border-right: 1px solid var(--border);
  height: inherit;
  padding: 25px 0;
}

.right-sidebar {
  background: var(--bg);
  border-left: 1px solid var(--border);
  height: inherit;
  padding: 25px 0;
}

.sidebar nav a {
  display: block;
  padding: 12px 20px;
  color: var(--text);
  text-decoration: none;
  border-radius: 10px;
  margin: 6px 10px;
  transition: 0.3s;
}

.sidebar nav a:hover {
  background: rgba(42, 41, 41, 0.1);
  color: var(--text);
}

/* MAIN CONTENT */
.main-content {
  padding: 40px;
  overflow-y: auto;
}

.welcome-section2 img {
  position: relative;
  top: 8%;
  left: 70%;
  width: 90px;
  border-radius: 50%;
  height: 90px;
}

.welcome-section img {
  width: 45px;
  border-radius: 50%;
  height: 45px;
}

.profile-center {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.card {
  background: var(--bg);
  color: var(--text);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: var(--accent);
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* end dashboard */

/*MENTOR CONNECT*/
.mentor-card {
  background: var(--bg);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 50px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  transition: transform 0.3s ease;
}

.mentor-card:hover {
  transform: translateY(-5px);
}

.mentor-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mentor-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.mentor-info {
  display: flex;
  flex-direction: column;
}

.mentor-info h3 {
  margin: 0;
}

.mentor-title {
  color: #ff4f87;
  font-weight: 600;
}

.mentor-field {
  color: #666;
}

.mentor-bio {
  margin-top: 15px;
  line-height: 1.6;
}

.mentor-status {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

.available {
  background: #e8f8ee;
  color: #198754;
}

.external {
  background: var(--bg);
  color: #4169e1;
}

.mentor-buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.view-btn,
.connect-btn{
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 10px;
  background: #ff4f87;
  color: white;
  font-weight: 600;
}

.back-btn {
  position: relative;
  background: #7777;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 10px;
  text-align: center;
  color: white;
  left: 200px;
  top: 50px;
}

.mentor-profile {
  max-width: 700px;
  margin: auto;
  background: var(--bg);
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.mentor-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: auto;
}

.about-section,
.mentor-contact {
  margin-top: 20px;
}

.mentor-actions {
  display: flex;
  gap: 10px;
  margin-top: 25px;
}

.mentor-page {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  margin-top: 50px;
}

/* HERO */
.mentor-hero {
  display: flex;
  gap: 30px;
  background: var(--bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  transition: transform 0.3s ease;
}

.mentor-hero:hover {
  transform: translateY(-5px);
}

.mentor-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.mentor-title {
  color: #ff4f87;
  font-weight: 600;
}

.mentor-field {
  color: #666;
}

.status {
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 20px;
  display: inline-block;
  font-size: 13px;
}

.status.on {
  background: #e8f8ee;
  color: #1b8f4c;
}

.status.off {
  background: #eef3ff;
  color: #4169e1;
}

/* BUTTONS */
.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.primary-btn,
.secondary-btn,
.final-btn {
  padding: 10px 16px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
}

.primary-btn {
  background: #ff4f87;
  color: white;
}

.secondary-btn {
  background: #eee;
  color: #333;
}

/* GRID */
.mentor-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

/* CARDS */
.card,
.side-card {
  background: var(--bg);
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  transition: transform 0.3s ease;
}

.side-card:hover {
  transform: translateY(-5px);
}

.card h2 {
  color: var(--text);
}

/* BOTTOM */
.bottom-action {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}

.final-btn {
  background: #ff4f87;
  color: white;
}


/*.container {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
}

h2 {
  text-align: center;
  color: var(--accent);
  margin-bottom: 30px;
}

.mentor-card {
  background: var(--bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  padding: 20px;
  /*margin-left: ;/
  margin-bottom: 20px;
  transition: 0.2s ease-in-out;
}

.mentor-card:hover {
  transform: scale(1.02);
}

.mentor-card h3 {
  color: var(--accent);
  margin-bottom: 5px;
}

.mentor-card p {
  color: var(--text);
  margin: 5px 0;
}

.buttons {
  margin-top: 15px;
}

.buttons a {
  display: inline-block;
  background: var(--accent);
  color: var(--text);
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 8px;
  transition: background 0.2s;
}

.buttons a:hover {
  background: rgba(253, 1, 140, 0.466);
}

.no-mentors {
  text-align: center;
  color: var(--text);
  margin-top: 40px;
}

.profile-card {
  background: var(--bg);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  max-width: 600px;
  margin: auto;
  padding: 30px;
}

h2 {
  color: var(--accent);
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
  color: var(--text);
}

.buttons {
  margin-top: 25px;
}

.buttons a {
  text-decoration: none;
  background: var(--accent);
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  margin-right: 10px;
  transition: 0.2s;
}

.buttons a:hover {
  background: rgba(253, 1, 140, 0.466);
}*/

/* end mentor connect */


/*COMMUNITY PAGE CSS*/
.community-feed {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.community-title {
  text-align: center;
  color: #e75480;
  margin-bottom: 20px;
}

.create-post-card,
.post-card {
  background: var(--bg);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .08);
}

.create-post-header{
  display: flex;
  gap: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
}

.post-menu {
  margin-left: auto;
  position: relative;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
}

.menu-dropdown {
  display: none;
  position: absolute;
  top: 35px;
  right: 0;
  background: white;
  min-width: 140px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .15);
  overflow: hidden;
  z-index: 100;
}

.post-menu:hover .menu-dropdown {
  display: block;
}

.menu-dropdown a,
.menu-dropdown button {
  width: 100%;
  display: block;
  padding: 12px;
  border: none;
  background: white;
  text-align: left;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.menu-dropdown a:hover,
.menu-dropdown button:hover {
  background: #f5f5f5;
}

.menu-dropdown button {
  color: #e74c3c;
}

.profile-pic,
.comment-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info h4 {
  margin: 0;
}

.post-time {
  font-size: 12px;
  color: #777;
}

.post-content {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.post-actions {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  margin-bottom: 15px;
}

.like-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #e75480;
  font-weight: bold;
}

.comment-section {
  width: 100%;
  clear: both;
  margin-top: 15px;
}

.comment-count {
  color: #666;
}

.comment {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.comment-content {

  background: var(--border);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

.comment-form {
  display: flex;
  gap: 10px;
}

.hidden-comments {
  display: none;
  margin-top: 15px;
}

.hidden-comments.show {
  display: block;
}

.view-comments-btn {
  background: none;
  border: none;
  color: #e75480;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.latest-comment {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.comment-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
}

.comment-form button,
.post-form button {
  background: #e75480;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}

.post-form textarea {
  width: 100%;
  min-height: 80px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  resize: none;
}

.post-form {
  width: 100%;
}



/* Menstural tracker*/
/*.tracker-container {
  margin-top: 86px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}*/

.tracker-card {
  background: var(--bg);
  border-radius: 25px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  ;
  margin-left: 230px;
  margin-top: 50px;
  padding: 2rem 3rem;
  width: 450px;
  text-align: center;
}

.tracker-card h2 {
  color: var(--accent);
  margin-bottom: 0.5rem;
  font-size: 30px;
}

.subtitle {
  color: var(--text);
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.tracker-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.tracker-form label {
  font-weight: 600;
  color: var(--accent);
  text-align: left;
}

.tracker-form input,
.tracker-form textarea {
  border: 1px solid var(--text);
  border-radius: 10px;
  padding: 0.6rem;
  font-size: 0.9rem;
}

.tracker-form button {
  background: var(--accent);
  color: var(--text);
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.3s;
}

.tracker-form button:hover {
  background: var(--accent);
}

.next-period {
  margin-top: 2rem;
  background: var(--bg);
  border-radius: 15px;
  padding: 1rem;
}

.next-period h3 {
  color: var(--text);
  margin-bottom: 0.5rem;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  color: var(--accent);
}

.category-card {
  background-color: var(--bg);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(110, 104, 104, 0.186);
  margin: 15px 0;
  padding: 20px 25px;
  transition: transform 0.3s ease;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card a {
  text-decoration: none;
  color: var(--accent);
  font-weight: 600;
  font-size: 1.1rem;
}

.category p {
  color: #555;
  margin-top: 5px;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  animation: fadeIn 0.3s ease forwards;
}


@media screen and (max-width: 768px) {

  /* General adjustments */
  body {
    font-size: 14px;
  }

  @media (max-width:768px) {

    .sidebar {
      display: flex;
    }

    .mobile-header {
      display: flex;
    }

    .mobile-nav {
      display: flex;
    }

  }

  .search-box {
    position: relative;
    display: block;
    width: 230px;
    right: 80%;
  }

  h1,
  h2,
  h3 {
    font-size: 1.2rem;
  }

  .container,
  .main-container,
  .tracker-card,
  .chat-container,
  section {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }

  /* Dashboard layout */
  .dashboard-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .sidebar,
  .right-sidebar {
    width: 100%;
    border: none;
    padding: 15px;
  }

  .main-content {
    padding: 20px;
  }

  .dashboard-cards {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .card {
    padding: 15px;
  }

  /* Mentor & Profile Cards */
  .mentor-card,
  .profile-card {
    padding: 15px;
    margin: 10px 0;
  }

    .mentor-hero {
      flex-direction: column;
      text-align: center;
    }

    .mentor-grid {
      grid-template-columns: 1fr;
    }

  .welcome-section2 img {
    position: relative;
    margin-top: 30px;
    left: -80%;
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }

  .buttons a {
    display: block;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }

  /* Community layout */
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  aside {
    width: 100%;
    padding: 1rem;
  }

  section {
    max-height: none;
  }

  /* Menstrual tracker */
  .tracker-card {
    margin-left: 0;
    padding: 1.5rem;
  }

  /* Chat assistant */
  .chat-container {
    width: 100%;
    height: auto;
  }

  #chat-box {
    padding: 10px;
  }

  .input-area {
    flex-direction: column;
  }

  #user-input {
    width: 100%;
    margin-bottom: 10px;
  }

  #send-btn {
    width: 100%;
    margin-left: 0;
  }

  /* Category cards */
  .category-card {
    padding: 10px;
  }

  .category-card a {
    font-size: 1rem;
  }

  /* Sidebar nav links */
  .sidebar nav a {
    padding: 10px;
    font-size: 0.9rem;
  }

  /* Header adjustments (if applicable) */
  .custom-header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .custom-header .logo img {
    width: 100px;
    margin-bottom: 10px;
  }

  .custom-header nav {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
    margin-bottom: 10px;
  }

  .custom-links.show {
    display: block;
    width: 100%;
    background-color: var(--header-bg);
    border-top: 1px solid var(--border);
  }

  .custom-links ul {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  .custom-links ul li {
    text-align: center;
  }
}



@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 1.4rem;
  }

  .category-card a {
    font-size: 1rem;
  }
}